:root{
	--corner-percentage: 20%;
	--crosshair-movement-time: 0.2s;
	--worm-colour: yellowgreen;
	--food-colour: yellow;
	--obstacle-colour: orangered;
	/* --worm-colour: #353535; */
	/* --food-colour: #404040; */
	/* --obstacle-colour: #303030; */
}
* {
    margin: 0;
    overflow: hidden;
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;
}
html {
	padding: 10px 10px 0 10px;
}
body {
    background: black;
	font-family: helvetica;
}
.full-width-row {
	width:100%;
	text-align: justify;
	font-size: 0.1px;
}
.full-width-row:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}
#controls-row{
	margin-top:10px;
}
.spread-elements {
	display:inline-block;
	text-align: center;
	font-size:24px;
}
#znage{
	color:darkgrey;
}
#score-container{
	color:green;
	font-size:14px;
}
#score{
	font-size:24px;
}
#help{
	color:darkgrey;
	font-size:12px;
}
#button{
	background-color:dimgrey;
	font-size:14px;
	width: 60px;
    height: 40px;
    border-radius: 4px;
    border: none;
	color: black;
}
#button:focus {
  outline: none;
}
#grid-container{
	margin-top:10px;
}
table {
	border-spacing:1px;
	background-color: #202020;
}
td {
	box-sizing:border-box;
	background-color: black;
}
td.obstacle{
	background-color:var(--obstacle-colour);
}
td.worm{
	background-color:var(--worm-colour);
}
td.food{
	background-color:var(--food-colour);
}
.target{
	position:relative;
}
.corners{
    position:absolute;
	width:var(--corner-percentage);
	height:var(--corner-percentage);
	transition-duration: var(--crosshair-movement-time);
	transition-timing-function: linear;
	border-color: transparent;
    border-width:2px;
}
.corner-top-left{
    border-style:solid none none solid;
    top:calc(50% - var(--corner-percentage));
    left:calc(50% - var(--corner-percentage));
}
.corner-top-right{
    border-style:solid solid none none;
    top:calc(50% - var(--corner-percentage));
    right:calc(50% - var(--corner-percentage));
}
.corner-bottom-left{
    border-style:none none solid solid;
    bottom:calc(50% - var(--corner-percentage));
    left:calc(50% - var(--corner-percentage));
}
.corner-bottom-right{
    border-style:none solid solid none;
    bottom:calc(50% - var(--corner-percentage));
    right:calc(50% - var(--corner-percentage));
}

.target:hover .corners{
	border-color:var(--food-colour);
}
.target:hover .corner-top-left{
    top:0;
    left:0;
}
.target:hover .corner-top-right{
    top:0;
    right:0;
}
.target:hover .corner-bottom-left{
    bottom:0;
    left:0;
}
.target:hover .corner-bottom-right{
    bottom:0;
    right:0;
}
